In [1]:
# List of high schools
high_schools=["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
# A dictionary of high schools and the type of school
high_school_types = [{"High School":"Griffin", "Type":"District"}, {"High School":"Figueroa", "Type":"District"} ,{"High School":"Willson", "Type":"Charter"} ,{"High School":"Wright", "Type":"Charter"}]
for schooltype in high_school_types:
    print(schooltype)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Willson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [16]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [15]:
# Add the Pandas dependency.
import pandas as pd

In [20]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series
for series in school_series:
    print(series)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [23]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [24]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [25]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [31]:
schools_df = pd.DataFrame()

In [34]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"]= type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [35]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [37]:
schools_df=high_schools_dict
schools_df=pd.DataFrame(high_schools_dict)
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [42]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School","Wilson High School","Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter","Charter","Charter", "District", "Charter","Charter","Charter", "District", "District", "District", "Charter"]

schools_df=pd.DataFrame()
schools_df["ID"]=school_id
schools_df["School"]=school_name
schools_df["Type"]=type_of_school

schools_df

    ID                 School      Type
0    0      Huang High School  District
1    1   Figueroa High School  District
2    2    Shelton High School   Charter
3    3  Hernandez High School  District
4    4    Griffin High School   Charter
5    5     Wilson High School   Charter
6    6    Cabrera High School   Charter
7    7     Bailey High School  District
8    8     Holden High School   Charter
9    9       Pena High School   Charter
10  10     Wright High School   Charter
11  11  Rodriguez High School  District
12  12    Johnson High School  District
13  13       Ford High School  District
14  14     Thomas High School   Charter